html {
    font-size: 100%;
}

body {
    font-size: 100%;
    line-height: 1.46em;
}

#content-wrap {
    padding-bottom: 60px;
}

.searchresult {
    cursor: pointer;
}

.searchresult.headline {
    cursor: pointer;
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: 700;
    font-style: normal;

}

.mainstory {
    margin-top: 14px;
}

.mainstory .searchresult.headline {

}

.searchresult .hostname {
    font-size: 75%;
    font-weight:normal;
}

small {
    font-size: 80%;
}

.url-content {
    color: #000;
    margin: 0;
    padding: 2px 0 5px;
}

.url-sublinks {
    margin: 0;
    line-height: normal;
    opacity: 0.7;

    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.url-sublinks:hover {
    opacity: 1;
}


.desaturate {
    filter: grayscale(100%);

    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.desaturate:hover {
    filter: grayscale(0);
}

.mainstory .url-content {
    font-size: 16px;
}

.story-row {
    margin-bottom: 15px;
}
.story-row .story-collapse-button{
    display: none;
}

.story-row:hover {

    background-color: #efefef;
}
.story-row:hover .story-collapse-button{

    display: block;
}

.entity-progress {
    height: 5px;
}


.story-content {
    padding: 5px 0;
}

.img-sourceitem {
    height: 14px;
    display: inline;
}

.searchresult:hover {
    text-decoration: none;
}

.searchresult:visited {
    color: #8c8c8c;
}

.searchresult:hover div {
    background-color: #e8f4ff;
}

.result_highlight {
    text-decoration: underline;
}

label {
    font-weight: lighter;
}

.extra-padding {
    padding: 5px 0;
}


.progress-bar {
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.input-group-addon {
    min-width: 36px;
}

.scroll-able {
    position: fixed;
    top: 0;
    height: 100%;
    max-height: 100%;
    left: 0px;
    overflow: hidden;
    padding-right: 32px;
}

.scroll-able:hover {
    overflow: auto;
    padding-right: 15px;
    overflow-y: scroll;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 100%;
    width: 100%;
    cursor: hand;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #aaa;
    margin-top: -4px;
    cursor: hand;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #aaa;

    cursor: hand;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #aaa;
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

.vertical-center {
    margin-top: 10%;
}

.searchmenu .progress-bar {
    background-color: #aaa;
}

.searchmenu {
    color: #aaa;
}

.searchmenu a, .searchmenu button {
    color: #777;
}

.searchmenu button.btn-primary {
    color: #fff;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 60px;
    }
}

@media screen and (min-width: 768px) {

    .searchmenu {
        background-color: #f8f8f8;
        border-left: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
    }

}

@media (max-width: 991px) {

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
        overflow-y: auto;
    }

    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
        overflow-y: auto !important;
    }

    .collapsing {
        overflow: hidden !important;
    }

    .container-fluid > .navbar-collapse {
        margin-right: -15px;
        margin-left: -15px;
    }

    .navbar-fixed-top .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
    }
}