<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>About</h2>
            <p>
                NA Search came out as a side project from a machine-learning task. You can reach me at thomas@(thisdomain).com if there are any questions. Made with love in Austria.
            </p>
            <p>
               The original <a href="https://news.ycombinator.com/item?id=8871433">HN Post</a> and <a href="https://news.ycombinator.com/item?id=8975200">here</a>.
            </p>
            <p>
                HN is a great community. Thank you.
            </p>
        </div>
    </div>
</div>